<?xml version="1.0" encoding="UTF-8"?>
<component xmlns="http://www.xproclet.org/V/Server/" xmlns:xproc="http://www.xproclet.org/V/XProc/">

   <client protocol="FILE"/>
   <client protocol="HTTP"/>
   <client protocol="HTTPS"/>
   
   <server protocol="HTTP" address="*" port="8080">
      <host name="localhost">
         <content match="/" href="docs/">
            <parameter name="method" value="GET"/>
            <parameter name="method" value="HEAD"/>
         </content>
      </host>
   </server>
   
</component>
